$color-purple: #5C0BA3
$color-pink: #D70AC1
$color-ice: #f0f0f0
$color-lightgray: #ccc
$color-darkblue: #110e2d
$color-darkgray: #222
$color-default: #111
$color-warning: #FFF3CD
$color-discord: #5865F2
$color-whatsapp: #00E676
$color-outlook: #0078D4

$header-height: 10%
