.height25
    height: 25px

.height30
    height: 30px

.height35
    height: 35px

.height40
    height: 40px

.height45
    height: 45px


.width100
    width: 100px

.width150
    width: 150px

.width200
    width: 200px

.width250
    width: 250px

.widthAuto
    width: auto

.alignX
    align-self: end