// IMPORTS
@import 'mixins'
@import 'variables'

* 
    @include reset-page('Helvetica')
    @include reset-text-decoration
    scroll-behavior: smooth

body
    background: $color-ice

    
    a
        color: $color-pink

    h2
        margin-top: 2rem
        margin-bottom: 2rem
        font-size: 2rem

    h3
        margin: 0rem 0rem 1rem 0
        font-size: 1.4rem
        text-align: justify

    p   
        text-align: justify
        line-height: 1.5rem

    ul
        list-style: none

    section
        margin-bottom: 1rem

    #main-container
        // @include main-content(1400px)
        
        #content
            @include flex(column)
            // @include main-content(1440px)

            #home::after
                content: ''
                width: 100%
                height: 100%
                position: absolute
                top: 0
                background: rgba(0, 0, 0, .7)
                z-index: 1

            #home
                background-attachment: fixed
                @include size-object(100vh)
                position: relative
                overflow: hidden
                z-index: 4

                video 
                    position: absolute
                    width: 100%
                    z-index: 0
        
                header
                    position: relative
                    @include flex
                    @include align-items(center, center)
                    // background: rgba(0, 0, 0, .7)
                    @include padding(.4rem .8rem)
                    height: 10%
                    widows: 100%
                    margin: 0 auto
                    z-index: 4
                    // border: 1px solid red

                    #logo-area
                        padding: .6rem
                        height: 4rem

                        img
                            max-height: 100%
                            

                    #header-menu
                        @include flex
                        gap: 1rem
                        @include align-items(center, center)
                        


                        ul
                            @include h-menu($color-ice, $color-pink)


                        button
                            @include b-radius
                            @include size-object(40px, 150px)
                            @include style-border(0px, transparent, none)
                            @include style-button($color-pink, $color-ice, 700)

                        button:active
                            transform: translateY(.1rem)
                        
                    // Hamburger Menu
                    #menu-toggle-content
                        display: flex
        
                        #menu-toggle
                            display: none
                        
                        .menu-button-container 
                            display: none
                            height: 100%
                            width: 30px
                            cursor: pointer
                            flex-direction: column
                            justify-content: center
                            align-items: center
                            padding: 1rem


                        .menu-button, .menu-button::before, .menu-button::after
                            display: none
                            background-color: $color-ice
                            position: absolute
                            height: 4px
                            width: 30px
                            transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1)
                            border-radius: 2px
                            pointer-events: none

                        .menu-button::before
                            content: ''
                            margin-top: -8px

                        .menu-button::after
                            content: ''
                            margin-top: 8px

                        #menu-toggle:checked + .menu-button-container .menu-button::before
                            margin-top: 0px
                            transform: rotate(405deg)

                        #menu-toggle:checked + .menu-button-container .menu-button
                            background: rgba(255, 255, 255, 0)

                        #menu-toggle:checked + .menu-button-container .menu-button::after
                            margin-top: 0px
                            transform: rotate(-405deg)


                #frame-banner
                    position: relative
                    @include flex
                    @include size-object(97.5%, 80%)
                    @include align-items(center, flex-start)
                    @include centralization
                    @include padding(.4rem .8rem)
                    z-index: 4      


                    #description-banner
                        @include flex(column)
                        @include size-object(auto, 80%)
                        @include align-items(center, center)
                        color: $color-ice
                        height: 90%

                        h1  
                            @include flex
                            @include align-items(center, center)
                            flex: .7
                            // margin: 4rem 0rem 0rem 0rem
                            font-size: 3rem
                            text-align: center

                        h3
                            @include flex
                            @include align-items(center, center)
                            flex: .5
                            // margin: 6rem 0rem
                            font-size: 1.4rem
                            text-align: center

                        #button-area
                            @include flex
                            @include align-items(center, center)
                            height: 60px
                            flex: .8

                            & button
                                // margin: .6rem
                                @include style-button($color-pink, $color-ice, 700)
                                @include style-border(0, transparent, none)
                                @include size-object(45px, 150px)

                            & button:active
                                transform: translateY(.1rem)



            #about-internship
                @include padding(.4rem .8rem)
                background-color: $color-ice
                background-image: url(../img/simpleLogoPurple.png)
                background-repeat: no-repeat
                background-attachment: fixed
                background-position: center 
                background-blend-mode: color-dodge
                background-size: 45%

                #about-internship-frame
                    @include flex(column)
                    @include padding(.4rem, .8rem 4rem .8rem)
                    // gap: 1rem

                    h3
                        flex: 0
                        margin: 1rem 0rem
                        font-size: 1.4rem
                        text-align: justify

                    p
                        line-height: 1.6rem
                        text-align: justify

                    .warning
                        @include b-radius
                        margin: 1rem
                        box-shadow: 2px 2px 2px $color-darkgray
                        border: 1px solid $color-darkgray
                        @include padding(1rem, 1rem)
                        background-color: $color-warning
                        
                    
            
            #prerequisites
                @include padding(.4rem, .8rem 4rem .8rem)
                background: $color-darkblue
                margin: 1rem
                color: $color-ice
                @include b-radius

                
                ul
                    list-style: square
                    padding: 1rem
                    line-height: 1.5rem
                                

            #application-form
                margin: 1rem
                @include flex
                @include b-radius
                background: url('../img/estagio/form.jpg') no-repeat fixed top
                background-size: cover
                color: $color-ice
                height: auto

                #filter-background
                    @include padding(.4rem, .8rem 4rem .8rem)
                    @include b-radius
                    background: rgba(0, 0, 0, .7)

                    h2, h3
                        text-align: center


                    form
                        border: 1px solid purple
                        margin: 0 auto
                        width: 75%
                        background: rgba(255, 255, 255, .1)
                        backdrop-filter: blur(5px)
                        border: 1px solid
                        border-radius: 15px
                        width: 50%

                        input
                            outline: none
                            @include b-radius(5px)

                        #form-inscricao
                            @include flex(column)
                            @include padding(1rem, .6rem)
                            gap: .2rem
                            position: relative

                                

                            #container-student-data
                                @include flex(column)
                                gap: .4rem
                                
                                #container-registration
                                    width: 100px

                                #container-info
                                    @include flex(row, wrap)
                                    gap: .4rem

                                    #container-responsible
                                        width: 350px
                                        position: relative
                                    

                                        & label i
                                            position: relative

                                        & label i::after
                                            pointer-events: none
                                            text-align: justify
                                            content: 'Neste campo, deve-se preencher o nome do responsável pelo contrato do curso.'
                                            opacity: 0
                                            position: absolute
                                            background: $color-warning
                                            color: $color-darkgray
                                            width: 300px
                                            left: 110%
                                            top: -190%
                                            padding: .6rem
                                            border-radius: 8px
                                            transition: .4s
                                            font-size: .7rem
                                            font-family: "Helvetica", sans-serif
                                        
                                        & label i:hover::after
                                            opacity: 1


                                    #container-current-module
                                        width: 300px

                                        & label i
                                            position: relative

                                        & label i::after
                                            transition: .4s
                                            text-align: justify
                                            content: 'Qual o módulo do curso você esta atualmente aprendendo?'
                                            position: absolute
                                            opacity: 0
                                            background: $color-warning
                                            color: $color-darkgray
                                            width: 300px
                                            left: 110%
                                            top: -190%
                                            padding: .6rem
                                            border-radius: 8px
                                            font-family: "Helvetica"
                                            font-size: .7rem

                                        & label i:hover::after
                                            opacity: 1

                                    #container-email
                                        width: 250px

                                    #first-name
                                        width: 200px

                                    #container-surnames
                                        width: 350px

                                    #container-celphone
                                        width: 150px



                            #registration, #celphone-number
                                text-align: right
                        
                    

                            .input-setup
                                padding: .4rem
                                margin: .25rem 0
                                @include flex(column)
                                height: 35px
                                width: 100%

                            

                            .div-setup
                                @include flex(column)

                            #validate-application-form
                                margin: 1rem 0
                                padding: .6rem
                                line-height: 1.5rem
                                border: none

                                h3
                                    margin: 1rem 0

                                & p
                                    margin: 1rem 0

                                .ask-checkbox
                                    #input-area
                                        width: 100%
                                        margin-left: .8rem

                                    & input, label
                                        margin-right: 0.6rem

                                .ask-simple
                                    & input
                                        margin-left: .6rem


                                & h4
                                    margin-bottom: .2rem
                                
                                & input, textarea
                                    margin-bottom: 1rem

                                #date-birth
                                    width: 95%

                                #input-description-reason
                                    height: 120px
                                    resize: none
                                    margin-left: .6rem
                                    width: 95%

                                #rules
                                    @include flex(column)
                                    & input 
                                        margin: .6rem

                            button
                                @include style-button($color-pink, $color-ice, 700)
                                @include style-border(0, transparent, none)
                                @include size-object(45px, 250px)
                                margin: 0 auto

        #footer
            @include flex(column)
            @include padding(1rem, 1rem)
            background: $color-default
            color: $color-ice

            a
                border-bottom: 1px solid transparent
            a:hover
                border-bottom: 1px solid



            #footer-info
                @include flex(row, no-wrap)
                @include align-items(space-between, flex-start)
                height: 100%

                #footer-menu
                    @include flex(column)
                    @include padding(1rem, 1rem)
                    height: 100%

                    ul li
                        margin-bottom: .4rem

                #footer-contacts
                    @include flex(column)
                    @include padding(1rem, 1rem)
                    gap: .4rem
                    height: 100%

                    #discord
                        
                        color: $color-discord

                    #whatsapp
                        color: $color-whatsapp

                    #email
                        color: $color-outlook

                    .setup-contacts-apps
                        @include flex
                        @include align-items(start, center)

                        i
                            @include flex
                            @include align-items(center, center)
                            @include padding(.4rem)
                            width: 40px
                            

            #copyright
                @include flex
                @include align-items(center, center)

                                    

                
                            




                    






// RESPONSIVITY IN THE PAGE

@media (max-width: 375px)
    
    body
        max-width: 100%
        width: 100%

        #main-container
            @include main-content(100%)

            #home
                height: 70vh !important
                @include flex(column)
                @include background-image('../img/estagio/1.jpeg')
                background-size: cover !important
                background-position: bottom !important
                header
                    @include align-items(space-between !important, center)
                    @include size-object(100%, 100%)
                    @include align-items(center, center)

                    #logo-area
                        @include flex
                        @include align-items(default /* como é necessário passar os dois parametros caso deseje colocar apenas um alinhamento então podemos usar o termo default para representar o valor padrão */, center)

                    #simpleLogo
                        height: 80% !important

                    #textLogo
                        display: none

                    nav button
                        display: none

                    nav ul li
                        display: none

                    .menu-button-container
                        display: flex !important

                    .menu-button, .menu-button::before, .menu-button::after
                        display: flex !important

                #frame-banner
                    // border: 1px solid white

                #description-banner
                    width: 100% !important
                    h1
                        font-size: 1.6rem !important
                        margin: 3rem 0rem 0rem 0rem !important
                        line-height: 2rem

                    h3
                        font-size: .8rem !important
                        margin: 2rem 0rem !important
                        line-height: 2rem

                    a
                        font-size: .8rem !important

                    #button-banner
                        button
                            @include size-object(40px !important, 100px)


            #about-internship
                background: $color-lightgray
                &-frame
                    h2
                        text-align: center
                        margin: 1rem 0
                
                    &-subtitle
                        display: none

                    h3
                        text-align: center

                    p span
                        font-style: italic
                        font-weight: 700

                    p::after
                        border-bottom: 1px solid red !important





// @media (max-width: 425px)
    
//     body
//         max-width: 100%
//         width: 100%

//     #main-container
//         @include main-content(100%)
//         border: 1px solid

//         #home
//             border: 1px solid
//             height: 70vh !important

//         header
//             @include align-items(space-between !important, center) 
//             border: 1px solid

//         #logo-area
//             height: 100%

//         #simpleLogo
//             height: 80% !important

//         #textLogo
//             display: none

//         nav button
//             display: none

//         nav ul li
//             display: none

//         .menu-button-container
//             // display: block

//         .menu-button, .menu-button::before, .menu-button::after
//             display: block
//             margin-right: 25px

//         #frame-banner
//             // border: 1px solid white

//         #description-banner
//             // @include size-object(auto, 100%)
//         .title
//             font-size: 2.5rem

// @media (max-width: 1024px)

//     body
//         max-width: 100%
//         width: 100%
//         height: auto

//     #main-container
//         @include main-content(100%)

//         #content
//             #home                
//                 height: 90vh !important
                
//                 #textLogo
//                     display: none

//                 header
//                     nav button
//                         display: none

//                     nav ul li
//                         display: none

//                     .menu-button-container
//                         // display: block

//                     .menu-button, .menu-button::before, .menu-button::after
//                         display: block
//                         margin-right: 25px

//                 #frame-banner
//                     border: 1px solid green
//                     @include size-object(100%)

//                     #description-banner
//                         // @include size-object(auto, 100%)
//                         .title
//                             font-size: 2rem




// RESPONSIVITY MENU HAMBURGER


    
// #menu-toggle ~ .menu li 
//     height: 0
//     margin: 0
//     padding: 0
//     border: 0
//     transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1)

// #menu-toggle:checked ~ .menu li
//     border: 1px solid #333
//     height: 2.5em
//     padding: 0.5em
//     transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1)

// .menu > li
//     display: flex
//     justify-content: center
//     margin: 0
//     padding: 0.5em 0
//     width: 100%
//     color: white
//     background-color: #222

// .menu > li:not(:last-child)
//     border-bottom: 1px solid #444
    

    