@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Helvetica";
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url("../img/backgroundLogin.jpg") no-repeat fixed;
  background-size: cover;
  color: #D70AC1;
}
body #main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 80vh;
  background-color: transparent;
  border-radius: 25px;
  background-color: #f0f0f0;
}
body #main-container #banner-login {
  display: flex;
  justify-content: center;
  height: 100%;
  background: url("../img/bg1.jpg") no-repeat;
  background-size: cover;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
body #main-container #banner-login .filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  height: 100%;
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.5);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
body #main-container #banner-login .filter #logo-code-seven {
  margin: 10rem 0 5rem;
}
body #main-container #banner-login .filter #logo-code-seven img {
  max-width: 150px;
}
body #main-container #banner-login .filter h3 {
  text-align: center;
}
body #main-container #form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  min-width: 400px;
  height: 100%;
  padding: 2rem;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
body #main-container #form-login #logo-code-seven {
  width: 150px;
  margin-bottom: 1rem;
}
body #main-container #form-login #logo-code-seven img {
  max-width: 100%;
}
body #main-container #form-login #sign-buttons {
  margin-bottom: 1rem;
  align-self: end;
}
body #main-container #form-login #form-sign-up, body #main-container #form-login #form-sign-in {
  display: flex;
  flex-direction: column;
  width: 100%;
}
body #main-container #form-login #form-sign-up label, body #main-container #form-login #form-sign-in label {
  color: #f0f0f0;
  font-weight: bold;
  margin-bottom: 0.2rem;
}
body #main-container #form-login #form-sign-up h2, body #main-container #form-login #form-sign-in h2 {
  margin-bottom: 1rem;
  text-shadow: 0 0 4px #5C0BA3;
  font-size: 2rem;
}
body #main-container #form-login #form-sign-up .text-input-default, body #main-container #form-login #form-sign-in .text-input-default {
  height: 40px;
  padding-inline: 0.4rem;
  outline: none;
  border: none;
  box-shadow: 2px 2px 2px #222 inset;
  border-radius: 6px;
  margin-bottom: 1rem;
}
body #main-container #form-login .btn-sign {
  border: none;
  font-weight: bold;
  border-radius: 6px;
  transition: 0.1s;
  box-shadow: 2px 2px 4px #111;
  height: 40px;
  background-color: #D70AC1;
  color: #f0f0f0;
  font-size: 1rem;
}
body #main-container #form-login .btn-sign:active {
  box-shadow: 2px 2px 4px inset #111;
  transform: translateY(1px);
}
body #main-container #form-login p {
  margin: 1rem 0;
  color: #f0f0f0;
  text-align: center;
}
body #main-container #form-login p span {
  color: #D70AC1;
  cursor: pointer;
}
body #main-container #form-login #form-sign-in::before {
  display: none;
  justify-content: center;
  align-items: center;
  position: relative;
  content: "matricula já existe";
  height: auto;
  padding: 0.4rem;
  top: 0%;
  background-color: #ffbbbb;
  color: #ff2222;
  font-weight: bold;
  opacity: 0;
}
body #main-container #form-login #form-sign-in::before span {
  font-weight: bold;
}
body #main-container #form-login .hide {
  display: none !important;
}

/*# sourceMappingURL=register.css.map */
