* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Helvetica, Quicksand, Oswald;
}

:root {
    --color-purple: #9412c3;
    --color-pink: #D70AC1;
    --color-ice: #fffafa;
    --color-blue: #110e2d;
    --color-darkgray: #222;
    --color-shadow: #ddd;
}

